<!DOCTYPE html>
<html lang="en">
<head>
<title>Dashboard</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<br>
	<div class="container">
		<ul class="list-group">
			<li class="list-group-item"><a href="/addContact">Add
					Contact</a></li>
			<li class="list-group-item"><a href="/listContacts">View
					Contacts</a></li>
			<li class="list-group-item"><a href="/download/excel-report">Download
					Excel File</a></li>
			<li class="list-group-item"><a href="/language/createJsonFile">Create Language Json File</a></li>
			<li class="list-group-item"><a href="/language/sortJsonFile">Sort Language Json File</a></li>
		</ul>
	</div>

</body>
</html>